.tablePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.input {
  width: 300px;
  padding: 10px 20px;
  border: solid 2px;
  border-radius: 8px;
  transition: 0.4s;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.input:focus {
  -webkit-box-shadow: 0px 32px 59px -9px rgba(160, 160, 160, 1);
  -moz-box-shadow: 0px 32px 59px -9px rgba(160, 160, 160, 1);
  box-shadow: 0px 32px 59px -9px rgba(160, 160, 160, 1);
}
.title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

@media screen and (min-width: 550px) {
  .input {
    width: 400px;
  }
}
