.card {
  position: relative;
  width: 350px;
  background-color: #f5f5f5;
  margin: 10px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  border: solid 1px grey;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.4s;
  box-shadow: inset rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.card:hover {
  transition: 0.4s;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img {
  height: 120px;
  width: 120px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.cardInfo {
  border-left: 1px solid black;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  //   justify-content: center;
  align-items: left;
}
.title {
  margin: 0 0 5px 0;
  //   text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.price {
  font-weight: 700;
  text-align: end;
  margin-right: 10px;
}

@media screen and (max-width: 700px) {
  .card {
    flex: 1 1 auto;
    max-width: 400px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1099px) {
  .card {
    width: 400px;
  }
  .img {
    height: 150px;
    width: 150px;
  }
}
@media screen and (min-width: 1100px) {
  .card {
    width: 500px;
    margin: 20px;
  }
  .img {
    height: 150px;
    width: 150px;
  }
}
