.tableHeader {
  background-color: #36304a;
  color: #fff;
}
.tableHeader th {
  border-collapse: collapse;
  padding: 15px;
  font-family: "Lato", sans-serif;
}

.tableInfo {
  color: grey;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.tableInfo:hover {
  color: black;
  background-color: #c4bfbf !important;
}
.tableInfo td {
  padding: 10px 0px;
}
.tableInfo td:last-child {
  white-space: nowrap;
}
.tableInfo:nth-child(even) {
  background-color: #f5f5f5;
}

.table {
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 20px;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  -webkit-box-shadow: 0px 11px 100px -37px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 11px 100px -37px rgba(66, 68, 90, 1);
  box-shadow: 0px 11px 100px -37px rgba(66, 68, 90, 1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media screen and (max-width: 500px) {
  .table {
    font-size: 0.65rem;
    width: 100%;
  }
}
@media screen and (min-width: 550px) {
  .table {
    margin: 20px;
  }
}
