.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}
.title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-top: 100px;
}
